/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it is above other content */
  overflow-y: auto; /* Make sidebar scrollable if needed */
}

/* Sidebar header styling */
.sidebar-header {
  padding: 20px;
  background: #f8f9fa;
}

/* Sidebar title styling */
.sidebar h3 {
  margin: 0;
  font-size: 1.5em;
}

/* List styling */
.list-unstyled {
  padding: 0;
}

.components {
  padding-left: 0;
}

.components li {
  padding: 10px;
  text-align: center;
}

.components li.active a, .components li a {
  display: block;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
}

.components li a:hover, .components li.active a {
  background: #007bff;
  color: #fff;
}

.components li button {
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  padding: 10px;
  color: #000;
  font-size: 1.2em;
}

.components li button:hover {
  background: #007bff;
  color: #fff;
}

/* Responsive styling */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Adjust width for smaller screens */
  }

  .main-content {
    margin-left: 200px; /* Adjust margin to fit sidebar */
  }
}
